
<div class="container center-div">
  <h3>Log In:</h3>
  <%= form_for(:session, url: :sessions, html: { multipart: true}) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control'%>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control'%>

    <%= f.submit :Signin, class: "btn btn-default"%>
  <% end %>

  <% if @errors %>
    <div id="error_explanation">
      <p>
        <strong><%= pluralize(@errors.count, "error") %> prohibited you from logging in:</strong>
      </p>
      <ul>
        <% @errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
