

<div class="container center-div">

      <%= form_tag(:action =>'create', class: 'form-control') do  %>
        <h3>Log in</h3>
        <%= label(:user, :email) %>
        <%= text_field_tag :email %>
        <%= label(:user, :password) %>
        <%= password_field_tag :password %>
        <br></br>
        <%= submit_tag "Log in", class: "btn btn-default" %>
      <% end %>

      <% if @errors %>
    <div id="error_explanation">
      <p>
        <strong><%= pluralize(@errors.count, "error") %> prohibited you from logging in:</strong>
      </p>
      <ul>
        <% @errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

</div>
