<div class="container center-div">
  <h3>Register:</h3>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}, html: { multipart: true}) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control'%>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control'%>

    <%= f.label :aboutme, "Tell us about yourself" %>
    <%= f.text_area :aboutme, class: 'form-control'%>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control'%>

    <%=f.label :image, "Select a profile picture:" %><br>
    <%=f.file_field :image, class: 'btn btn-default' %></br>

    <%= f.submit :Signup, class: "btn btn-default"%>
  <% end %>

  <%if @user.errors.any? %>
    <ul class="Signup_Errors">
      <% for message_error in @user.errors.full_messages %>
        <li> <%=  message_error %></li>
      <% end %>
    </ul>
  <% end %>
</div>
