<div class="container">
  <div class="name-container">
    <h3><%= @user.username %></h3>
  </div>

  <div class="avatar-container">
    <%= image_tag(user_avatar) %>
  </div>

  <% if logged_in? && current_user %>
    <p>Update profile photo:</p>
    <%= form_for @user do |f| %>
      <%=f.label :image %><br>
      <%=f.file_field :image %>
      <%= f.submit :Update %>
    <% end %>
  <% end %>

  <div class="about-container">
    <p><%= @user.aboutme %></p>
  </div>

</div>

  <div class="name-container">
    <h3>Favorites</h3>
  </div>

  <div class="users-favorites">
      <% @user.favorites.each do |favorite| %>
        <div class="favorite">
        <ul>
          <li>
            <div class="product-image"><%= link_to image_tag(favorite.product[:image]), favorite.product[:link] %></div>
          </li>
          <li>
            <div> <%= favorite.product[:name] %> </div>
          </li>
          <li>
            <div class="product-price"><%= favorite[:price] %></div>
          </li>
          <% if logged_in? && current_user.id == @user.id  %>
          <%= link_to 'Unfavorite', favorite_path(favorite), method: :delete %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
