<div class="container">
  <div class="avatar-container">
    <%= image_tag @user.image.url(:thumb) %>
  </div>
  <div class="name-container">
    <h3><%= @user.username%>'s Favorites</h3>
  </div>
<!-- Below does not work yet -->
  <div class="users-favorites">
      <% @user.favorites.each do |favorite| %>
        <ul>
          <li>
            <div class="product-image"><%= link_to image_tag(favorite.product[:image]), favorite.product[:link] %></div>
          </li>
          <li>
            <div> <%= favorite.product[:name] %> </div>
          </li>
          <li>
            <div class="product-price"><%= favorite[:price] %></div>
          </li>
        </ul>
      <% end %>
  </div>
