<div class="container">
  <div class="name-container">
    <h3><%= @user.username %></h3>
  </div>

  <div class="avatar-container">
    <%= image_tag(user_avatar) %>
  </div>



  <% if logged_in? && current_user %>
    <%= link_to "Update profile", edit_user_path(@user), method: :get %>
  <% end %>

  <div class="about-container">
    <p><%= @user.aboutme %></p>
  </div>

</div>

  <div class="name-container">
    <h3>Favorites</h3>
  </div>

  <div class="users-favorites">
      <% @user.favorites.each do |favorite| %>
        <div class="favorite">
        <ul>
          <li>
            <div class="product-image"><%= link_to image_tag(favorite.product[:image]), favorite.product[:link] %></div>
          </li>
          <li>
            <div> <%= favorite.product[:name] %> </div>
          </li>
          <li>
            <div class="product-price"><%= favorite[:price] %></div>
          </li>
          <% if logged_in? && current_user.id == @user.id  %>
          <div class="unlike-button">
          <%= button_to "Unlike", favorite_path(favorite), method: :delete, :class => 'btn btn-default blue-grey lighten-2'%>
        </div>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
