<div class="product">
  <% if @products.length > 0 %>
    <section id="search-results">
      <% @products.each do |p| %>
        <ul>
          <li>
            <div class="product-image"><%= link_to image_tag(p[:image], alt: "Clothing Item"), p[:link] %></div>
          </li>
          <li>
          <div> <%= p[:name] %> </div
          </li>
          <li>
            <div class="product-price"><%= p[:price] %></div>
          </li>
          <li>
            <% if logged_in? %>
            <% unless product_favorited? %>
            <%=  form_for(:p, :url => {:controller => 'favorites', :action => 'create'}) do |f| %>
            <%= f.hidden_field :image, :value => p[:image] %>
            <%= f.hidden_field :link, :value => p[:link] %>
            <%= f.hidden_field :name, :value => p[:name] %>
            <%= f.hidden_field :price, :value => p[:price] %>
            <%= button_tag( :class => 'btn btn-default blue-grey lighten-2') do %>Favorite This!<%end%>
            <% end %>
            <% end %>
            <% end %>
          </li>
        </ul>
      <% end %>
    </section>
  <% end %>
</div>
