<!-- OLD STUFF BELOW: -->
<div class="product">
  <% if @products.length > 0 %>
    <section id="search-results">
      <% @products.each do |p| %>
        <ul>
          <li>
            <div class="product-image"><a href="<%=p[:link]%>"><img src="<%=p[:image]%>" alt="Clothing Item"/></a></div>
          </li>
          <li>
          <div> <%= p[:name] %> </div
          </li>
          <li>
            <div class="product-price"><%= p[:price] %></div>
          </li>
        </ul>
      <% end %>
    </section>
  <% end %>
</div>

<!-- PORTFOLIO -->
<section id="portfolio" class="module">

	<div class="container">

		<!-- FILTER -->
		<div class="row">

			<div class="col-sm-12">
				<ul id="filters" class="filters font-alt">
					<li><a href="#" data-filter="*" class="current">All <sup><small>.355</small></sup></a></li>
					<li><a href="#" data-filter=".branding">Color <sup><small>.78</small></sup></a></li>
					<li><a href="#" data-filter=".design">Category <sup><small>.123</small></sup></a></li>
					<li><a href="#" data-filter=".photo">Brand <sup><small>.144</small></sup></a></li>
					<li><a href="#" data-filter=".web">Price <sup><small>.140</small></sup></a></li>
				</ul>
			</div>

		</div>
		<!-- /FILTER -->

		<!-- WORKS GRID -->
		<div class="row">
      <div class="product">
        <% if @products.length > 0 %>
          <section id="search-results">
            <% @products.each do |p| %>
              <ul>
                <li>
                  <div class="product-image"><a href="<%=p[:link]%>"><img src="<%=p[:image]%>" alt="Clothing Item"/></a></div>
                </li>
                <li>
                <div> <%= p[:name] %> </div
                </li>
                <li>
                  <div class="product-price"><%= p[:price] %></div>
                </li>
              </ul>
            <% end %>
          </section>
        <% end %>
      </div>

			<div id="works-grid" class="works-grid works-hover-w">

				<!-- DO NOT DELETE THIS DIV -->
				<div class="grid-sizer"></div>

				<!-- PORTFOLIO ITEM -->
				<div class="work-item tall branding">
					<a href="portfolio-single-1.html">
						<img src="assets/images/portfolio/img-1.jpg" alt="">
						<div class="work-caption font-alt">
							<h3 class="work-title">The European languages</h3>
							<div class="work-descr">
								Branding
							</div>
						</div>
					</a>
				</div>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<div class="work-item design">
					<a href="portfolio-single-1.html">
						<img src="assets/images/portfolio/img-2.jpg" alt="">
						<div class="work-caption font-alt">
							<h3 class="work-title">The languages only</h3>
							<div class="work-descr">
								Design
							</div>
						</div>
					</a>
				</div>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<div class="work-item design">
					<a href="portfolio-single-1.html">
						<img src="assets/images/portfolio/img-3.jpg" alt="">
						<div class="work-caption font-alt">
							<h3 class="work-title">Everyone realizes</h3>
							<div class="work-descr">
								Design
							</div>
						</div>
					</a>
				</div>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<div class="work-item design">
					<a href="portfolio-single-1.html">
						<img src="assets/images/portfolio/img-4.jpg" alt="">
						<div class="work-caption font-alt">
							<h3 class="work-title">Corporate Identity</h3>
							<div class="work-descr">
								Design
							</div>
						</div>
					</a>
				</div>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<div class="work-item design">
					<a href="portfolio-single-1.html">
						<img src="assets/images/portfolio/img-5.jpg" alt="">
						<div class="work-caption font-alt">
							<h3 class="work-title">Cambridge friend</h3>
							<div class="work-descr">
								Design
							</div>
						</div>
					</a>
				</div>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<div class="work-item wide-tall branding photo web">
					<a href="portfolio-single-1.html">
						<img src="assets/images/portfolio/img-6.jpg" alt="">
						<div class="work-caption font-alt">
							<h3 class="work-title">The grammar of the resulting language</h3>
							<div class="work-descr">
								Branding / Photo / Web
							</div>
						</div>
					</a>
				</div>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<div class="work-item wide design photo web">
					<a href="portfolio-single-1.html">
						<img src="assets/images/portfolio/img-7.jpg" alt="">
						<div class="work-caption font-alt">
							<h3 class="work-title">A collection of textile samples</h3>
							<div class="work-descr">
								Design / Photo / Web
							</div>
						</div>
					</a>
				</div>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<div class="work-item branding photo">
					<a href="portfolio-single-1.html">
						<img src="assets/images/portfolio/img-8.jpg" alt="">
						<div class="work-caption font-alt">
							<h3 class="work-title">Gregor then turned</h3>
							<div class="work-descr">
								Branding / Photo
							</div>
						</div>
					</a>
				</div>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<div class="work-item branding photo">
					<a href="portfolio-single-1.html">
						<img src="assets/images/portfolio/img-9.jpg" alt="">
						<div class="work-caption font-alt">
							<h3 class="work-title">He must have tried it</h3>
							<div class="work-descr">
								Branding / Photo
							</div>
						</div>
					</a>
				</div>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<div class="work-item wide design web">
					<a href="portfolio-single-1.html">
						<img src="assets/images/portfolio/img-10.jpg" alt="">
						<div class="work-caption font-alt">
							<h3 class="work-title">However hard he threw himself</h3>
							<div class="work-descr">
								Design / Web
							</div>
						</div>
					</a>
				</div>
				<!-- /PORTFOLIO ITEM -->

			</div>

		</div>
		<!-- /WORKS GRID -->

		<!-- SHOW MORE -->
		<div class="row m-t-70 text-center wow fadeInUp">
			<div class="col-sm-12">

				<button id="show-more" class="btn btn-block btn-lg btn-g show-more">More works</button>

			</div>
		</div>
		<!-- /SHOW MORE -->

	</div>

</section>
<!-- /PORTFOLIO -->
