<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingTest</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <!-- Favicons -->
  	<link rel="shortcut icon" href="assets/favicon.png">
  	<link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
  	<link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png">
  	<link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png">

  	<!-- Bootstrap core CSS -->
  	<link href="assets/bootstrap.min.css" rel="stylesheet">

  	<!-- Plugins -->
  	<link href="assets/font-awesome.min.css" rel="stylesheet">
  	<link href="assets/ionicons.min.css" rel="stylesheet">
  	<link href="assets/simpletextrotator.css" rel="stylesheet">
  	<link href="assets/magnific-popup.css" rel="stylesheet">
  	<link href="assets/owl.carousel.css" rel="stylesheet">
  	<link href="assets/superslides.css" rel="stylesheet">
  	<link href="assets/vertical.css" rel="stylesheet">
  	<link href="assets/animate.css" rel="stylesheet">

  	<!-- Template core CSS -->
  	<link href="assets/style.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>


  </head>
  <body  class="grey">
      <nav>
        <div class="nav-wrapper grey darken-4">
          <ul id="nav-mobile" class="hide-on-med-and-down ">
          <% if logged_in? %>
            <li><%= link_to "#{current_user.username}", user_path(current_user) %></li>
            <li><%= link_to "Log Out", sessions_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "HomePage", root_url  %></li>
            <li><%= link_to "Create an Account", new_user_path  %></li>
            <li><%= link_to "Log In", new_session_path  %></li>
          <% end %>
        </ul>
          <% if flash[:error] %>
          <% flash[:error].each do |error| %>
          <ul>
            <%= error %>
          </ul>
          <% end %>
          <% end %>

        </div>
      </nav>
      <div class="container white layout_container z-depth-5">
          <%= yield %>
      </div>
      <!-- Javascript files -->
      <script src="assets/jquery-2.1.3.min.js"></script>
      <script src="assets/bootstrap.min.js"></script>
      <script src="assets/jquery.superslides.min.js"></script>
      <script src="assets/jquery.mb.YTPlayer.min.js"></script>
      <script src="assets/jquery.magnific-popup.min.js"></script>
      <script src="assets/owl.carousel.min.js"></script>
      <script src="assets/jquery.simple-text-rotator.min.js"></script>
      <script src="assets/imagesloaded.pkgd.js"></script>
      <script src="assets/isotope.pkgd.min.js"></script>
      <script src="assets/packery-mode.pkgd.min.js"></script>
      <script src="assets/appear.js"></script>
      <script src="assets/jquery.easing.1.3.js"></script>
      <script src="assets/wow.min.js"></script>
      <script src="assets/jqBootstrapValidation.js"></script>
      <script src="assets/jquery.fitvids.js"></script>
      <script src="assets/jquery.parallax-1.1.3.js"></script>
      <script src="assets/smoothscroll.js"></script>
      <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
      <script src="assets/gmaps.js"></script>
      <script src="assets/contact.js"></script>
      <script src="assets/custom.js"></script>
    </body>
</html>
