<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

  </head>
  <body  class="grey">
      <nav>
        <div class="nav-wrapper grey darken-4">
          <ul id="nav-mobile" class="hide-on-med-and-down ">
          <% if logged_in? %>
            <li><%= link_to "#{current_user.username}", user_path(current_user) %></li>
            <li><%= link_to "Log Out", sessions_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "HomePage", root_url  %></li>
            <li><%= link_to "Create an Account", new_user_path  %></li>
            <li><%= link_to "Log In", new_session_path  %></li>
          <% end %>
        </ul>
          <% if flash[:error] %>
          <% flash[:error].each do |error| %>
          <ul>
            <%= error %>
          </ul>
          <% end %>
          <% end %>

        </div>
      </nav>
      <div class="container white layout_container z-depth-5">
          <%= yield %>
      </div>
    </body>
</html>
